@font-face {
   font-family: "Amazon Ember Display";
   src: url("fonts/Amazon Ember Display Bold.woff") format("woff"), url("fonts/Amazon Ember Display Bold.eot") format("embedded-opentype"), url("fonts/Amazon Ember Display Bold.ttf") format("truetype"), url("fonts/Amazon Ember Display Bold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Amazon Ember Display";
   src: url("fonts/Amazon Ember Display.woff") format("woff"), url("fonts/Amazon Ember Display.eot") format("embedded-opentype"), url("fonts/Amazon Ember Display.ttf") format("truetype"), url("fonts/Amazon Ember Display.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Amazon Ember";
   src: url("fonts/Amazon Ember Bold.woff") format("woff"), url("fonts/Amazon Ember Bold.eot") format("embedded-opentype"), url("fonts/Amazon Ember Bold.ttf") format("truetype"), url("fonts/Amazon Ember Bold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Amazon Ember";
   src: url("fonts/Amazon Ember Bold Italic.woff") format("woff"), url("fonts/Amazon Ember Bold Italic.eot") format("embedded-opentype"), url("fonts/Amazon Ember Bold Italic.ttf") format("truetype"), url("fonts/Amazon Ember Bold Italic.svg") format("svg");
   font-weight: bold;
   font-style: italic;
}
@font-face {
   font-family: "Amazon Ember";
   src: url("fonts/Amazon Ember.woff") format("woff"), url("fonts/Amazon Ember.eot") format("embedded-opentype"), url("fonts/Amazon Ember.ttf") format("truetype"), url("fonts/Amazon Ember.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Amazon Ember";
   src: url("fonts/Amazon Ember Italic.woff") format("woff"), url("fonts/Amazon Ember Italic.eot") format("embedded-opentype"), url("fonts/Amazon Ember Italic.ttf") format("truetype"), url("fonts/Amazon Ember Italic.svg") format("svg");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "Amazon Ember Display Light";
   src: url("fonts/Amazon Ember Display Light.woff") format("woff"), url("fonts/Amazon Ember Display Light.eot") format("embedded-opentype"), url("fonts/Amazon Ember Display Light.ttf") format("truetype"), url("fonts/Amazon Ember Display Light.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Bebas Neue Bold";
   src: url("fonts/BebasNeueBold.woff") format("woff"), url("fonts/BebasNeueBold.eot") format("embedded-opentype"), url("fonts/BebasNeueBold.otf") format("opentype");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Montserrat";
   src: url("fonts/Montserrat Bold.woff") format("woff"), url("fonts/Montserrat Bold.eot") format("embedded-opentype"), url("fonts/Montserrat Bold.otf") format("opentype");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Montserrat";
   src: url("fonts/Montserrat-Bold.woff") format("woff"), url("fonts/Montserrat-Bold.eot") format("embedded-opentype"), url("fonts/Montserrat-Bold.ttf") format("truetype"), url("fonts/Montserrat-Bold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Montserrat";
   src: url("fonts/Montserrat.woff") format("woff"), url("fonts/Montserrat.eot") format("embedded-opentype"), url("fonts/Montserrat.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Montserrat";
   src: url("fonts/Montserrat-Regular.woff") format("woff"), url("fonts/Montserrat-Regular.eot") format("embedded-opentype"), url("fonts/Montserrat-Regular.ttf") format("truetype"), url("fonts/Montserrat-Regular.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Montserrat";
   src: url("fonts/Montserrat-Black.woff") format("woff"), url("fonts/Montserrat-Black.eot") format("embedded-opentype"), url("fonts/Montserrat-Black.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Montserrat";
   src: url("fonts/Montserrat-Light.woff") format("woff"), url("fonts/Montserrat-Light.eot") format("embedded-opentype"), url("fonts/Montserrat-Light.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Bebas Neue Book";
   src: url("fonts/BebasNeueBook.woff") format("woff"), url("fonts/BebasNeueBook.eot") format("embedded-opentype"), url("fonts/BebasNeueBook.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}